.panel.panel-default
  .panel-heading(id=`${name}-h` role="tab")
    h4.panel-title
      a(role="button" data-toggle="collapse" data-parent="#vars" href=`#${name}-c` aria-expanded="true" aria-controls=`${name}-c`) Variable: #{name}
  .panel-collapse.collapse(id=`${name}-c` role="tabpanel" aria-labelledby=`${name}-h`)
    .panel-body
      .vis
    button.btn.btn-primary.btn-xs.log Compute log transform
